{# src\IIM\CinemaBundle\Resources\views\Personne\show.html.twig #}
{% extends 'IIMCinemaBundle::layout.html.twig' %}

{% block title %}Liste des films{% endblock %}

{% block body %}

<div class="container">

          <div class="row">

              <h2>Liste des Films</h2>
          <div class="col-md-9">

            <br />

            {% for film in films %}

              <div class="thumbnail">
                <div class="caption-full">
                  <h4 class="pull-right">{{film.genre}}</h4>
                  <h4>{{ film.titre|upper }}</h4>
                  <p>{{film.synopsis}}</p>
                  <div class="ratings">
                      <p class="pull-right">sorti le {{film.dateSortie | date('d/m/Y')}}</p>
                  </div>
                </div>

              </div>
              {% endfor %}

            </div>
          </div>
        </div>
{% endblock %}
